* {
  font-family: Arial, Sans-serif, serif;
}
body {
  background-color: lightyellow;
}

h1{
  color: lightcoral;
}

.description{
  text-align: center;
}

h2, h3{
  color: #b26767;
}

a{
  color: rgba(0, 123, 123, 0.5)
}
p, ul, ol, li{
  color: cornflowerblue;
}